<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.mooc_visualMapper">
  <resultMap id="BaseResultMap" type="com.model.mooc_visual">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sources" jdbcType="VARCHAR" property="sources" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="sup" jdbcType="VARCHAR" property="sup" />
    <result column="conf" jdbcType="VARCHAR" property="conf" />
    <result column="catycray" jdbcType="INTEGER" property="catycray" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mooc_visual
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.mooc_visual">
    insert into mooc_visual (id, sources, target, 
      sup, conf, catycray
      )
    values (#{id,jdbcType=INTEGER}, #{sources,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, 
      #{sup,jdbcType=VARCHAR}, #{conf,jdbcType=VARCHAR}, #{catycray,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.model.mooc_visual">
    update mooc_visual
    set sources = #{sources,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      sup = #{sup,jdbcType=VARCHAR},
      conf = #{conf,jdbcType=VARCHAR},
      catycray = #{catycray,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, sources, target, sup, conf, catycray
    from mooc_visual
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sources, target, sup, conf, catycray
    from mooc_visual
  </select>
  <update id="init">
    truncate table mooc_visual
</update>
</mapper>